@charset "UTF-8";
.aumentar {
  animation: aumentar 2s; }

@keyframes aumentar {
  0% {
    transform: scale(0.5); }
  100% {
    transform: scale(1); } }

/* Agregamos transición cuando pasamps el mouse sobre las opciones del navbar */
#nav__queEs:hover {
  border: solid 1px #ffffff; }

#nav__comoFunciona:hover {
  border: solid 1px #ffffff; }

#nav__experiencias:hover {
  border: solid 1px #ffffff; }

#nav__bajatela:hover {
  border: solid 1px #ffffff; }

#nav__contacto:hover {
  border: solid 1px #ffffff; }

/* Agregamos transición en el form de contacto */
.form-control:focus {
  background-color: #eaf4f6;
  border-color: #6422FF; }

html body {
  /* sobreescribimos la fuente por defecto */
  font-family: "Roboto", sans-serif !important;
  min-height: 100vh; }
  html body main {
    background-color: #d8d9db;
    min-height: 100vh !important; }
    html body main h1 {
      color: #6422FF; }
    html body main button {
      background-color: #6422FF; }
  html body footer {
    margin-top: auto; }

.h2 {
  color: #6422FF; }

header nav {
  background-color: #6422FF; }

nav {
  margin-top: auto; }

.navbar-brand {
  font-family: "Mochiy Pop One", sans-serif; }

footer div div a {
  /* dejo espacio entre los íconos de redes */
  color: white;
  text-decoration: none; }

footer div div a:hover {
  color: inherit;
  text-decoration: none; }

footer div div ul li {
  /* dejo espacio entre los íconos de redes */
  padding: 0 1em 0 1em; }

footer div div ul li:hover {
  background-color: #808080; }

#home__main {
  min-height: auto !important; }

#home {
  padding: 4em 0 0em 3em; }

#home_main__img--size {
  /* ajustamos tamaño de imagen */
  height: auto;
  width: 200px;
  /* agregamos animación para que la imagen aparezca de menor a mayor */
  animation-duration: 2s; }

.container-fluid, .row {
  margin-right: 0 !important;
  margin-left: 0 !important;
  padding-right: 0 !important;
  padding-left: 0 !important; }

#home_main_titulo {
  padding-left: 11em;
  padding-top: 11em; }

.home__main__phone {
  padding-right: 5em; }

.home__botones__store {
  padding-top: 2em;
  text-align: left; }

#queEs__main {
  padding: 8em 3em 3em 3em; }

#grid__comoFunciona__main {
  padding-top: 11em;
  padding-left: 1em; }

.comoFunciona__margin__right {
  margin-right: 0; }

#experiencias__main {
  padding-top: 10em;
  padding-bottom: 5em; }

#bajatela__main {
  padding: 20em 0 9em 0; }

#bajatela__main__article__texto_botones {
  padding: 0 0 0 3em; }

#bajatela__main__article__imgstore {
  padding: 0 3em 0 0; }

.btn {
  background-color: #6422FF;
  color: white;
  border-color: #6422FF; }

#contacto {
  padding: 13em 1em 7em 1em; }

@media (max-width: 1200px) {
  #home {
    min-height: auto !important; }
  #home_main_titulo {
    padding-left: 7em; }
  .home__botones__store {
    padding: 1em 0 1em 0;
    text-align: left !important; }
  #home_main_titulo {
    text-align: left !important; }
  #bajatela__main {
    min-height: 90vh !important;
    padding: 21em 0em 3em 0em; }
  .comoFunciona__img--size {
    /* ajustamos tamaño de imagen */
    height: auto;
    width: 180px; } }

@media (max-width: 768px) {
  /* @@@ ini footer @@@ */
  #footer {
    height: auto; }
  #footer__redes {
    text-align-last: center; }
  /* @@@ fin footer @@@ */
  /* @@@ ini home @@@ */
  #home {
    padding: .3rem 0 .3rem 0;
    min-height: 90vh !important; }
  #home_main_titulo {
    padding-left: 3em;
    padding-top: 1em; }
  #home_main__img--size {
    /* ajustamos tamaño de imagen */
    height: auto;
    width: 180px; }
  .home__botones__store {
    text-align: center !important; }
  .home__main__phone {
    padding-right: 0; }
  /* @@@ fin home @@@ */
  /* @@@ ini que es @@@ */
  #queEs__main__img2 {
    text-align: center; }
  /* @@@ fin que es @@@ */
  /* @@@ ini como funciona @@@ */
  #grid__comoFunciona__main {
    min-height: 65vh;
    padding-top: 7em;
    padding-bottom: 3em; }
  /* @@@ fin como funciona @@@ */
  /* @@@ ini experiencias @@@ */
  #experiencias__main {
    min-height: 28vh;
    padding-top: 10em;
    padding-bottom: 0em; }
  #experiencias__img--size {
    /* ajustamos tamaño de imagen */
    height: auto;
    width: 220px; }
  /* @@@ fin experiencias @@@ */
  /* @@@ ini bajatela @@@ */
  #bajatela__main {
    min-height: 86vh !important;
    padding: 13em 0em 3em 0em; }
  #bajatela__main__article__texto_botones {
    padding: 0 1em 0 3em; }
  .bajatela__main__btn {
    padding: 1em 0 1em 0; }
  #bajatela__main__article__imgstore {
    padding: 0; }
  /* @@@ fin bajatela @@@ */
  /* @@@ ini contacto @@@ */
  #contacto {
    min-height: 28vh;
    padding: 17em 1em 4em 1em; }
  /* @@@ fin contacto @@@ */ }
