/* @@@ css reset @@@ */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* paleta de colores 
.color1 { #6424fc };
.color2 { #a27afc };
.color3 { #280182 };
.color4 { #2e0296 };
.color5 { #300395 };
*/

/* @@@ ini configuracion por defecto para todo el sitio @@@ */
html {
    /* definimos la fuente por defecto */
    font-family: 'Roboto', sans-serif;
}

main {
    background-color: #d8d9db;
    grid-area: main;
    /* ---- */
}

h1 {
    color: #300395;
}
/* @@@ fin configuracion por defecto para todo el sitio @@@ */

/* @@@ ini estilos reutilizables @@@ */

.quitar_subrayado_asginar_color_blanco {
    /* quitamos subrayado del a href y cambiamos el color*/
    text-decoration: none;
    color: #fff;
}
/* @@@ fin estilos reutilizables @@@ */

/* @@@ ini header @@@ */

header {
    background-color: #6424fc;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    flex-wrap: wrap;
    text-align: center;
    /* lo dejamos fijo en la parte superior acupando todo el ancho */
    position: sticky;
    top: 0;
    width: 100%;
    height: 20%;
    /* le damos peso como para que no quede superpuesto por otro elemento */
    z-index: 3;
    grid-area: header;
}

header a {
    font-size: 2,34em;
}

.header__logo {
    /* usamos otra fuente para el logo */
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 2em;
    /* lo ubicamos en la parte superior izquierda
    display: inline-block;
    margin: 5px 0px 5px 3px; */
}

nav ul li {
    /* quitamos las viñetas */
    list-style: none;
    /* para tener padding y margin hacia arriba y abajo: inline-block */
    display: inline-block;
    margin: 10px 10px 20px 0px;
    padding: 0 5px 0 5px;
}

/* @@@ fin del header @@@ */

/* @@@ ini footer @@@ */

footer {
    background-color: #716f76;
    grid-area: footer;
}

footer div ul li {
    display: block;
    padding: 1px;
    position: relative;
    bottom: 0.7em;
    padding-left: 30em;
}

.footer-marca {
    /* usamos otra fuente para la marca */
    font-family: 'Mochiy Pop One', sans-serif;
    color: #fff;
    font-size: 1em;
    position: relative;
    top: 2em;
    padding-left: 5px;
}
/* @@@ fin del footer @@@ */

/*  @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
    ESTILOS PERSONALIZADOS POR CADA SECCION
    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ 
*/

/* @@@ ini del home @@@ */

#grid_index {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "header"
                         "main"
                         "footer";
}

#grid_indexMain {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "home__main__div_descripcion home__main__img";
}

.home__main__div_descripcion {
    position: absolute;
    top: 30%;
    left: 5px;
    width: 30em;
    padding-left: 10px;
    grid-area: home__main__div_descripcion;
}

.home__main__div_descripcion--color {
    /* cambiamos el color del título */
    color: #300395;

}

.home__main__div__descripcion__p {
    /* ajustamos el interlineado */
    line-height: 25px;
}

.home__main__BtnStores {
    position: relative;
    bottom: 6em;
    left: -1em;
}

.home__main__img {
    position: relative;
    left: 32em;
    display: inline-block;
    top: 30px;
    padding-bottom: 23px;
    grid-area: home__main__img;
}

#home_main__img--size {
    /* ajustamos tamaño de imagen */
    width: 244px;
    height: auto;
}
/* @@@ fin del home @@@ */

/* @@@ ini  contacto @@@ */

.contacto__titulo {
    width: 430px;
    padding: 130px 0 12px 5px;
}

.contacto__titulo--p {
    width: 530px;
    padding: 15px 0 5px 5px;
    /* ajustamos el interlineado */
    line-height: 25px;
    padding-bottom: 245px;
}

form {
    position:absolute;
    top:190px;
    left:550px;
}

/* defino un estilo generico para los label */
.contacto__label {
    display: inline-block;
    margin: 15px 10px 20px 10px;
}

/* modifico la clase generica a medida para el mail */
.contacto__label--email {
    display: inline-block;
    margin: 15px 25px 20px 10px;
}

/* modifico la clase generica a medida para el mensaje */
.contacto__label--mensaje {
    display: inline-block;
    margin: 10px 25px 0 10px;
}

/* defino un estilo generico para los input */
.contacto__input {
    color: #010c11;
    display: inline-block;
    margin: 5px;
}

/* modifico la clase generica a medida para el textarea */
.contacto__input__textarea {
    margin: 5px 0 10px 10px;
}

/* cambio el tamaño y color del textarea */
#input_mensaje {
    width: 460px;
    background-color: #edf3f6;
}

/* cambio color de fondo de los input text */
form div div input {
    background-color: #edf3f6;
}

/* agrando el tamaño de los botones dejando más espacio entre el contenido y los bordes */
div button {
    display: inline-block;
    margin: 5px 5px 25px 13px;
    background-color: #edf3f6;
}

/* deplazo todo el formulario 10px */
form div button {
    padding: 10px;
}
/* @@@ fin contacto @@@ */

/* @@@ ini queEsVacaRomana main @@@  */

.queEs__main {
    padding: 10px 0 10px 10px;
}

.queEs__main__titulo {
    width: 580px;
    padding: 240px 10px 10px 15px;
    /* cambiamos el color del título */
    font-size: 2em;
    font-weight: bold;
    color: #300395;
}

.queEs__main__titulo--p {
    width: 580px;
    padding: 10px 10px 150px 15px;
    /* ajustamos el interlineado */
    line-height: 25px;
}

#queEs__main__img1 {
    position:absolute;
    top:120px;
    left:600px;
    padding-bottom: 50px;
    padding-top: 50px;

}

#queEs__main__img2 {
    position:absolute;
    top:742px;
    left:600px;
    padding-bottom: 50px;
    padding-top: 50px;

}
/* @@@ fin queEsVacaRomana @@@  */

/* @@@ ini comoFunciona @@@ */

.comoFunciona__main__pasos {
    /* cambiamos el color del título */
    font-size: 2em;
    font-weight: bold;
    color: #300395;
    display: inline-block;
    padding: 130px 70px 100px 70px;
}

.comoFunciona__main__img {
    display: inline-block;
    padding-left: 45px;
    padding-bottom: 126px;
}

#comoFunciona__main__img1 {
    display: inline-block;
    padding-left: 45px;
    position: relative;
    bottom: 89px;
}

#comoFunciona__main__img3 {
    display: inline-block;
    position: relative;
    padding-left: 50px;
    bottom: 80px;
}
/* @@@ fin comoFunciona @@@ */

/* @@@ ini experiencias @@@ */

.experiencias{
    width: 500px;
    padding:78px 0px 78px 15px;
} 

.experiencias__titulo {
    font-weight: bold;
    font-size: 24px;
    color: #300395;
    padding-bottom: 5px;
}

.experiencias__titulo--interlineado {
    /* ajustamos el interlineado */
    line-height: 25px;
}

.experiencias__img{
    position: absolute;
    top:290px;
    left:500px;
} 
/* @@@ fin experiencias @@@ */

/* @@@ ini bajatela @@@ */

.bajatela{
    width: 500px;
    padding:98px 0px 25px 15px;
}

.bajatela__titulo {
    line-height: 25px;
    padding:20px 0 75px 0;
}

.bajatela__img{
    position: absolute;
    top:290px;
    left:500px;
    
} 

.bajatela_img_stores {
    padding-bottom: 100px;
}
/* @@@ fin bajatela @@@ */
