#bajatela__main {
    padding: 20em 0 9em 0;
}

#bajatela__main__article__texto_botones {
    padding: 0 0 0 3em ;
}

#bajatela__main__article__imgstore{
    padding: 0 3em 0 0 ;
}

.btn {
    background-color:map-get($colores, "color_contacto_button");
    color:white;
    border-color:map-get($colores, "color_contacto_button");   
}