#grid__comoFunciona__main {
    padding-top: 11em;
    padding-left: 1em;
}

// fix al problema del colapsado en eje Y
.comoFunciona__margin__right {
    margin-right: 0;
}

.comoFuncionaBorder {
    border: solid black 1px;
    @include min-sizes(40vh,30vw);
}

.comoFuncionaBorder--white {
    @extend .comoFuncionaBorder;
    border: solid white 2px;
}

.comoFuncionaBorder--red {
    @extend .comoFuncionaBorder;
    border: solid rgb(251, 2, 2) 3px;
}