// @@@ principal @@@
html {
    body {
        /* sobreescribimos la fuente por defecto */
        font-family: map-get($fuentes, "default"), sans-serif !important;
        // fix footer: agrego flexbox para ubicar el footer
        min-height: 100vh;

        main {
            background-color: map-get($colores, "color_fondo_main");
            // fix footer: agrego min-height
            min-height: 100vh !important;
            h1 {
                color:map-get($colores, "color_fonts_main");
            }
            button {
                background-color:map-get($colores, "color_fonts_main");

            }
        }
        footer {
            // fix footer: agrego margin-top
            margin-top: auto;
        }
    }
}
.h2 {
    color:map-get($colores, "color_fonts_main");
}