header nav {
    background-color:  map-get($colores,"color_fondo_header");
    // background-color:red;
}

nav {
    margin-top: auto;
}

.navbar-brand {
    font-family: map-get($fuentes , "marca" ),sans-serif;
}