#home{
    padding: 5em 0 6em 3em;
}

#home_main__img--size {
    /* ajustamos tamaño de imagen */
    width: 200px;
    height: auto;
    /* agregamos animación para que la imagen aparezca de menor a mayor */
    animation-name: animacion__home__main;
    animation-duration: 2s;
}