@media (max-width: 1200px) {

    #home{
        min-height: auto!important;
    }

    #home_main_titulo {
        padding-left: 7em;
    }

    .home__botones__store {
        padding: 1em 0 1em 0;
        text-align: left!important;
    }

    #home_main_titulo {
        text-align: left!important;
    }

    #bajatela__main {
        min-height: 90vh!important ;
        padding: 21em 0em 3em 0em;
    }
    .comoFunciona__img--size{
        /* ajustamos tamaño de imagen */
        @include sizes(auto,180px);
    }

    .comoFunciona__textmain {
        padding-right: 1em;
    }
}
@media (max-width: 768px) {

    /* @@@ ini footer @@@ */

    #footer {
        height: auto;
    }

    #footer__redes {
        text-align-last: center;
    }

    /* @@@ fin footer @@@ */

    /* @@@ ini home @@@ */

    #home {
        padding: .3rem 0 .3rem 0;
        min-height: 90vh!important ;
    }

    #home_main_titulo {
        padding-left: 3em;
        padding-top: 1em;
    }

    #home_main__img--size {
        /* ajustamos tamaño de imagen */
        @include sizes(auto,180px);
    }

    .home__botones__store {
        text-align: center!important;
    }

    .home__main__phone {
        padding-right: 0;
    }

    /* @@@ fin home @@@ */

    /* @@@ ini que es @@@ */
    #queEs__main__img2 {
        text-align: center;
    }

    /* @@@ fin que es @@@ */

    /* @@@ ini como funciona @@@ */

    #grid__comoFunciona__main {
        min-height: 65vh;
        padding-top: 7em;
        padding-bottom: 3em;
    }

    /* @@@ fin como funciona @@@ */

    /* @@@ ini experiencias @@@ */

    #experiencias__main {
        min-height: 28vh;
        padding-top: 10em;
        padding-bottom: 0em;
    }

    #experiencias__img--size {
        /* ajustamos tamaño de imagen */
        @include sizes(auto,220px);
    }

    /* @@@ fin experiencias @@@ */

    /* @@@ ini bajatela @@@ */

    #bajatela__main {
        min-height: 86vh!important ;
        padding: 13em 0em 3em 0em;
    }

    #bajatela__main__article__texto_botones {
        padding: 0 1em 0 3em ;
    }

    .bajatela__main__btn {
        padding: 1em 0 1em 0;
    }

    #bajatela__main__article__imgstore{
        padding: 0;
    }
    /* @@@ fin bajatela @@@ */

    /* @@@ ini contacto @@@ */

    #contacto {
        min-height: 28vh;
        padding: 17em 1em 4em 1em;
    }

    /* @@@ fin contacto @@@ */
}
