// @@@ partials @@@
// primero colocamos los imports en donde definimos variables 
@import "./fonts";
@import "./colors";
@import "./animaciones";
// luego colocamos los de cada sección
@import "./header";
@import "./footer";
@import "./home";
@import "./queEs";
@import "./comoFunciona";
@import "./experiencias";
@import "./bajatela";
@import "./contacto";
// por último, las mediaqueries que pueden modificar lo que se definió antes
@import "./mediaQueries";


// @@@ principal @@@
html {
    body {
        /* sobreescribimos la fuente por defecto */
        font-family: $fuente_default;
        // fix footer: agrego flexbox para ubicar el footer
        min-height: 100vh;

        main {
            background-color: $color_fondo_main;
            // fix footer: agrego min-height
            min-height: 100vh !important;
        }
    }
    footer {
        // fix footer: agrego margin-top
        margin-top: auto;
    }
}